@import url(../bower_components/pure/pure.css);
.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.fa-right {
  margin-right: 10px; }

.fa-left {
  margin-left: 10px; }

.margin-left {
  margin-left: 20px; }

.margin-right {
  margin-right: 20px; }

body,
input,
textarea {
  font: 14px Avenir; }

button,
select {
  font: 14px Avenir !important; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }
  a a:focus,
  a a:visited,
  a a:hover {
    color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

b {
  font-weight: 600; }

h2 {
  font-weight: 400; }

body {
  background: #eee; }
  body .container {
    margin-left: 0; }

.markdown h1 {
  color: #444;
  font-size: 22px;
  font-weight: 500; }
.markdown h2 {
  color: #555;
  font-size: 20px;
  font-weight: 400; }
.markdown h3 {
  color: #777;
  font-size: 18px;
  font-weight: 400; }
.markdown h4, .markdown h5, .markdown h6 {
  color: #999;
  font-size: 16px;
  font-weight: 400; }
.markdown blockquote {
  border-left: 3px solid #ddd;
  color: #333;
  padding-left: 20px; }
.markdown pre > code {
  background: #eee;
  border-left: 2px solid #2ECC40;
  color: #333;
  display: block;
  font-family: Monaco, monospace;
  padding: 10px; }
.markdown p > code {
  background: #eee;
  color: #333;
  display: inline-block;
  font-family: Monaco, monospace;
  padding: 5px; }
.markdown b,
.markdown strong {
  font-weight: 600; }
.markdown em {
  font-style: italic; }
.markdown a {
  color: #0074D9; }
  .markdown a:hover {
    color: #0059a6; }
.markdown hr {
  border-style: solid;
  color: #ddd; }

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -100px;
  width: 200px;
  height: 400px; }
  .auth-form label {
    color: #999;
    font-size: 14px;
    margin-bottom: 5px; }
  .auth-form input {
    background: #ddd;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    margin-bottom: 20px !important;
    padding: 10px !important;
    width: 200px; }
  .auth-form button {
    background: #0074D9;
    border-bottom: 3px solid #0059a6; }
  .auth-form button[disabled=disabled], .auth-form button:disabled {
    background: #0074D9;
    border-bottom: 3px solid #0059a6;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); }
  .auth-form .auth-link {
    color: #0074D9;
    display: block;
    margin-top: 20px;
    text-align: center; }
    .auth-form .auth-link:hover {
      color: #0059a6; }
  .auth-form .help-block {
    color: #FF4136; }

.back-button {
  color: #aaa;
  left: 20px;
  position: absolute;
  top: 20px; }
  .back-button:hover {
    color: #888; }
  .back-button i {
    font-size: 13px; }
  .back-button span {
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 10px;
    text-transform: uppercase; }

.header {
  height: 64px;
  font-size: 14px;
  line-height: 64px; }
  .header .pure-menu-heading {
    height: 64px;
    padding: 0 25px;
    line-height: 64px;
    background: #0074D9;
    color: #FFF;
    text-align: center;
    margin: -1px 10px 0 0 !important;
    font-size: 15px;
    font-weight: 600; }
    .header .pure-menu-heading:hover {
      background: #0059a6; }
  .header ul a:hover {
    background: #fff !important;
    color: #333; }
  .header .pull-right {
    height: 64px;
    line-height: 64px; }

.footer {
  background: transparent;
  border-top: 1px solid #ddd;
  padding: 40px 0;
  width: 100%; }
  .footer .email {
    text-align: center;
    width: 100%; }
    .footer .email label {
      color: #999;
      font-size: 18px; }
    .footer .email input {
      background: #ddd;
      border: none !important;
      border-bottom: 1px solid #ccc !important;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      margin: 0 20px;
      padding: 10px !important;
      width: 200px; }
    .footer .email button {
      background: #0074D9;
      border-bottom: 3px solid #0059a6; }

.sidebar {
  color: #999;
  height: 100vh;
  float: left;
  padding-top: 10px;
  top: 64px;
  width: 200px; }
  .sidebar .sidebar-header {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    width: 100%; }
    .sidebar .sidebar-header:hover {
      color: #555; }
  .sidebar .checkbox-list {
    padding: 10px 20px; }
    .sidebar .checkbox-list .checkbox {
      display: block; }

.question-section {
  background: #ddd;
  width: 100%; }
  .question-section .question-list {
    background: #eee;
    min-height: 100vh;
    padding: 7px 0 0 0;
    width: calc(100%-240px);
    margin-left: 240px; }
    .question-section .question-list .list-bar {
      color: #999;
      font-size: 14px;
      height: 44px;
      line-height: 44px;
      padding: 0 20px; }
      .question-section .question-list .list-bar span {
        cursor: pointer;
        margin-right: 20px; }
        .question-section .question-list .list-bar span:hover {
          color: #555; }
      .question-section .question-list .list-bar select {
        margin-right: 20px; }
      .question-section .question-list .list-bar select.pull-right {
        margin: 11px 0 0 20px; }
      .question-section .question-list .list-bar .search {
        background: #ddd;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background-clip: padding-box;
        height: 28px;
        padding: 0 7px;
        margin-top: 7px; }
    .question-section .question-list .question {
      border-left: 5px solid transparent;
      cursor: pointer;
      display: block;
      height: 64px;
      margin: 10px 0 0 0;
      padding: 5px 20px;
      width: calc(100% - 45px); }
      .question-section .question-list .question:hover {
        background: #e5e5e5; }
      .question-section .question-list .question > div {
        float: left;
        height: 64px; }
      .question-section .question-list .question .score {
        background: #ddd;
        border-bottom: 2px solid #ccc;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background-clip: padding-box;
        cursor: pointer;
        color: #555;
        font-weight: 600;
        font-size: 12px;
        padding: 5px;
        margin: 10px 30px 10px 0;
        text-align: center;
        width: 20px; }
        .question-section .question-list .question .score i {
          font-size: 20px;
          display: block;
          height: 20px; }
      .question-section .question-list .question .voted {
        color: #0074D9 !important; }
      .question-section .question-list .question h1 {
        line-height: 100%;
        margin: 3px 0; }
        .question-section .question-list .question h1 a {
          color: #555;
          font-size: 14px;
          font-weight: 500; }
      .question-section .question-list .question span {
        color: #999;
        font-size: 12px;
        margin: 0 5px 0 0; }
      .question-section .question-list .question .sepline {
        color: #ccc;
        padding: 0 5px; }
      .question-section .question-list .question .creator {
        color: #999;
        font-size: 14px;
        line-height: 64px; }
        .question-section .question-list .question .creator:hover {
          color: #666; }
    .question-section .question-list .open-list-question {
      background: #e5e5e5;
      border-left-color: #0074D9; }
    .question-section .question-list .no-questions {
      color: #999;
      font-size: 16px;
      padding-bottom: 20px;
      text-align: center;
      width: 100%; }

.form-container {
  padding-top: 20px; }
  .form-container form {
    padding: 0 60px 0 0; }
    .form-container form .pure-g > div {
      margin: 0 20px; }
      .form-container form .pure-g > div label {
        color: #999;
        font-size: 14px;
        margin-bottom: 5px; }
        .form-container form .pure-g > div label span {
          color: #ccc;
          font-size: 12px; }
        .form-container form .pure-g > div label a {
          color: #0074D9;
          font-size: 12px;
          margin-left: 20px; }
          .form-container form .pure-g > div label a:hover {
            color: #0059a6; }
      .form-container form .pure-g > div input,
      .form-container form .pure-g > div textarea {
        background: #ddd;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        margin-bottom: 20px !important;
        padding: 10px !important;
        width: 100%; }
      .form-container form .pure-g > div textarea.content {
        height: 240px; }
      .form-container form .pure-g > div textarea.hint {
        height: 100px; }
      .form-container form .pure-g > div button {
        background: #0074D9;
        border-bottom: 3px solid #0059a6; }

.preview-container {
  padding-top: 20px; }
  .preview-container .markdown {
    margin-top: 40px;
    padding-right: 20px; }

.open-question {
  background-color: white;
  -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 60%;
  z-index: 1000; }
  .open-question .question-header {
    border-bottom: 1px solid #eee;
    padding: 20px;
    top: 0; }
    .open-question .question-header h2 {
      color: #555;
      display: inline-block;
      font-size: 20px;
      width: 80%; }
    .open-question .question-header div a {
      color: #0074D9; }
      .open-question .question-header div a:hover {
        color: #0059a6; }
    .open-question .question-header .question-info {
      color: #aaa;
      margin-bottom: 10px; }
      .open-question .question-header .question-info > span {
        font-size: 12px;
        margin-right: 20px; }
        .open-question .question-header .question-info > span span {
          margin-right: 5px; }
        .open-question .question-header .question-info > span a {
          border-bottom: 1px solid #ccc;
          color: #999;
          padding-bottom: 1px; }
          .open-question .question-header .question-info > span a:hover {
            color: #666; }
      .open-question .question-header .question-info > a {
        font-size: 12px;
        float: right;
        line-height: 19px;
        margin-right: 20px; }
      .open-question .question-header .question-info i {
        color: #aaa;
        cursor: pointer;
        float: right;
        line-height: 19px; }
        .open-question .question-header .question-info i:hover {
          color: #555; }
  .open-question > .markdown {
    margin-top: 20px;
    padding: 0 20px; }
  .open-question .show-hint {
    color: #0074D9;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    width: 100%; }
    .open-question .show-hint:hover {
      color: #0059a6; }
  .open-question .hint {
    background: #FCF8D4;
    padding: 5px 20px; }
  .open-question .answer {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 20px 0 0 0; }
    .open-question .answer > div {
      color: #999;
      font-size: 14px;
      text-align: center;
      width: 100%; }
      .open-question .answer > div a {
        color: #0074D9; }
        .open-question .answer > div a:hover {
          color: #0059a6; }
    .open-question .answer label {
      color: #999;
      font-size: 14px;
      margin-bottom: 5px; }
      .open-question .answer label span {
        color: #ccc;
        font-size: 12px; }
      .open-question .answer label a {
        color: #0074D9;
        font-size: 12px;
        margin-left: 20px; }
        .open-question .answer label a:hover {
          color: #0059a6; }
    .open-question .answer input,
    .open-question .answer textarea {
      background: #eee;
      border: none !important;
      border-bottom: 1px solid #ddd !important;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      margin-bottom: 20px !important;
      padding: 10px !important;
      width: 100%; }
    .open-question .answer textarea {
      height: 64px; }
    .open-question .answer button {
      background: #0074D9;
      border-bottom: 3px solid #0059a6; }
  .open-question .show-answers,
  .open-question .hide-answers {
    color: #999;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    width: 100%; }
    .open-question .show-answers:hover,
    .open-question .hide-answers:hover {
      color: #555; }
  .open-question .answers > div {
    border-bottom: 1px dotted #eee;
    padding: 20px; }
    .open-question .answers > div:hover {
      background-color: #fafafa; }
    .open-question .answers > div .answer-info {
      color: #aaa;
      margin-bottom: 20px; }
      .open-question .answers > div .answer-info span {
        font-size: 12px;
        margin-right: 20px; }
        .open-question .answers > div .answer-info span a {
          border-bottom: 1px solid #ccc;
          color: #999;
          padding-bottom: 1px; }
          .open-question .answers > div .answer-info span a:hover {
            color: #666; }
      .open-question .answers > div .answer-info .upvote {
        color: #0074D9;
        cursor: pointer;
        font-weight: 600; }
        .open-question .answers > div .answer-info .upvote:hover {
          color: #0059a6; }
      .open-question .answers > div .answer-info > a {
        color: #0074D9;
        font-size: 12px;
        float: right;
        line-height: 19px; }
        .open-question .answers > div .answer-info > a:hover:hover {
          color: #0059a6; }
    .open-question .answers > div textarea {
      background: #eee;
      border: none !important;
      border-bottom: 1px solid #ddd !important;
      -webkit-box-shadow: 0 0 0 0;
      -moz-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0;
      height: 64px;
      margin-bottom: 20px;
      padding: 10px !important;
      width: 100%; }
    .open-question .answers > div button {
      background: #0074D9;
      border-bottom: 3px solid #0059a6; }

.user-profile .user-header {
  background: #ddd;
  padding: 20px 10%; }
  .user-profile .user-header h1 {
    color: #555;
    font-size: 20px;
    font-weight: 500; }
  .user-profile .user-header .user-sections {
    margin-top: 40px; }
    .user-profile .user-header .user-sections span {
      color: #999;
      cursor: pointer;
      font-size: 16px;
      margin-right: 20px; }
      .user-profile .user-header .user-sections span:hover {
        color: #555; }
    .user-profile .user-header .user-sections .current-section {
      color: #555; }
.user-profile .user-lists {
  margin: 20px 10%; }
  .user-profile .user-lists .user-questions {
    margin-right: 1%; }
  .user-profile .user-lists .user-answers {
    margin-left: 1%; }
  .user-profile .user-lists .user-questions,
  .user-profile .user-lists .user-answers {
    float: left;
    width: 48%; }
    .user-profile .user-lists .user-questions .list-header,
    .user-profile .user-lists .user-answers .list-header {
      color: #999;
      padding: 10px 0; }
    .user-profile .user-lists .user-questions h2,
    .user-profile .user-lists .user-answers h2 {
      color: #555;
      font-size: 14px;
      margin-bottom: 10px;
      text-transform: uppercase; }
      .user-profile .user-lists .user-questions h2 b,
      .user-profile .user-lists .user-answers h2 b {
        color: #999; }
    .user-profile .user-lists .user-questions > div a,
    .user-profile .user-lists .user-answers > div a {
      background: transparent;
      border-left: 5px solid #eee;
      color: #555;
      display: block;
      font-size: 14px;
      margin: 10px 0 10px -15px;
      padding: 10px 0 10px 10px; }
      .user-profile .user-lists .user-questions > div a > div,
      .user-profile .user-lists .user-answers > div a > div {
        font-weight: 500;
        margin-bottom: 5px; }
      .user-profile .user-lists .user-questions > div a > span,
      .user-profile .user-lists .user-answers > div a > span {
        color: #999;
        font-size: 12px;
        margin: 0 5px 0 0; }
        .user-profile .user-lists .user-questions > div a > span span,
        .user-profile .user-lists .user-answers > div a > span span {
          margin-right: 5px; }
      .user-profile .user-lists .user-questions > div a .sepline,
      .user-profile .user-lists .user-answers > div a .sepline {
        color: #ccc;
        padding: 0 5px; }
      .user-profile .user-lists .user-questions > div a:hover,
      .user-profile .user-lists .user-answers > div a:hover {
        background: #e5e5e5;
        border-color: #0074D9; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

select {
  background: transparent;
  border: none;
  color: #999;
  cursor: pointer;
  outline: none; }
  select:hover {
    color: #333; }

[type=checkbox] {
  display: none; }

[type=checkbox] + label {
  cursor: pointer;
  display: block;
  padding: 5px 0; }
  [type=checkbox] + label:hover {
    color: #555; }

[type=checkbox] + label:before {
  content: "\f10c";
  font-family: FontAwesome;
  margin-right: 5px; }

[type=checkbox]:checked + label:before {
  content: "\f05d";
  font-family: FontAwesome; }

[type=checkbox]:checked + label {
  color: #777; }

/*# sourceMappingURL=screen.css.map */
