.form-container {
  padding-top: 20px;

  form {
    padding: 0 60px 0 0;

    .pure-g > div {
      margin: 0 20px 20px 20px;

      label {
        color: #999;
        font-size: 14px;
        margin-bottom: 5px;

        span {
          color: #ccc;
          font-size: 12px;
        }

        a {
          color: palette(Blue, $shade: 500);
          font-size: 12px;
          margin-left: 20px;

          &:hover {
            color: palette(Blue, $shade: 700);
          }
        }
      }

      input,
      textarea,
      select {
        background: #ddd;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        @include box-shadow(0, 0, 0, 0);
        padding: 10px !important;
        width: 100%;
      }

      textarea.content {
        height: 240px;
      }

      textarea.hint {
        height: 100px;
      }

      .chosen-container {

        .chosen-choices {

          input {

            &:focus {
              @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
              color: #333 !important;
            }
          }
        }
      }
    }
  }
}

.preview-container {
  padding-top: 20px;

  .markdown {
    margin-top: 40px;
    padding-right: 20px;
  }
}
