.header {
  background: #fff !important;
  height: 50px;
  font-size: 13px;
  font-weight: 600;

  // .logo {
  //   background: #fff;
  //   display: inline-block;
  //   height: 50px;
  //   padding: 0;
  //   color: #999;
  //   text-align: center;
  //   font-size: 13px;
  //   font-weight: 700;
  //   margin: 0;
  //   padding: 0 20px;
  //   vertical-align: middle;
  //
  //   &:hover {
  //     color: #333;
  //   }
  //
  //   &:focus {
  //     outline: none;
  //   }
  // }

  > div {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    > a {
      color: #999 !important;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;

      &:hover {
        background: transparent !important;
        color: #333 !important;
      }

      &:focus {
        background: transparent !important;
        outline: none;
      }
    }

    .dropdown {
      display: inline-block;
      height: 50px;
      position: relative;
      vertical-align: top;

      .dropdown-label {
        color: #999;
        cursor: pointer;
        display: inline-block;
        line-height: 50px;
        height: 50px;
        padding: 0 20px;

        i {
          vertical-align: middle;
          height: 50px;
        }

        &:hover {
          color: #333;
        }
      }

      .on-label {
        color: palette(Blue, $shade: 500);

        &:hover {
          color: palette(Blue, $shade: 700);
        }
      }

      .dropdown-menu {
        // border: 2px solid #bbb;
        @include border-radius(4px);
        @include box-shadow(0, 0, 6px, rgba(0, 0, 0, 0.2));
        background: #fff;
        display: none;
        margin-top: -1px;
        position: absolute;
        padding: 0;
        overflow: hidden;
        right: 15px;
        z-index: 1000;

        a {
          color: #999;
          font-size: 13px;
          font-weight: 500;
          display: block;
          padding: 10px;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}
