.header {
  height: 64px;
  font-size: 14px;
  line-height: 64px;

  .pure-menu-heading {
    height: 64px;
    padding: 0;
    line-height: 64px;
    background: #fff;
    color: #444;
    text-align: center;
    margin: -1px 10px 0 0 !important;
    font-size: 13px;
    font-weight: 700;
    width: 200px;

    &:hover {
      color: #222;
    }
  }

  ul {

    a {
      color: #999 !important;

      &:hover {
        background: #fff !important;
        color: #333 !important;
      }

      &:focus {
        background: #fff !important;
        outline: none;
      }
    }
  }

  .pull-right {
    height: 64px;
    line-height: 64px;

    i {
      font-size: 8px;
    }
  }
}
