.header {
  height: 64px;
  font-size: 14px;
  line-height: 64px;

  .pure-menu-heading {
    color: $blue;
    font-weight: 600;

    &:hover {
      color: darken($blue, 10%);
    }
  }

  ul {
    a:hover {
      background: #fff !important;
      color: #333;
    }
  }

  .pull-right {
    height: 64px;
    line-height: 64px;
  }
}
