.question-section {
  background: #ddd;
  width: 100%;

  .question-list {
    background: #eee;
    min-height: 100vh;
    width: calc(100%-200px);
    margin-left: 200px;
    position: relative;

    .list-bar {
      border-bottom: 1px solid #ddd;
      color: #999;
      font-size: 14px;
      height: 64px;
      line-height: 64px;
      padding: 0 20px;

      span {
        cursor: pointer;
        margin-right: 20px;

        &:hover {
          color: #555;
        }
      }

      select {
        margin-right: 20px;
      }

      select.pull-right {
        margin: 21px 0 0 20px;
      }

      .search {
        background: #ddd;
        border: none;
        border-bottom: 1px solid #ccc;
        @include border-radius(2px);
        height: 34px;
        padding: 0 7px;
        margin-top: 15px;
        width: 200px;
      }
    }

    .question {
      border-left: 5px solid transparent;
      cursor: pointer;
      display: block;
      height: 64px;
      margin: 10px 0 0 0;
      padding: 5px 20px;
      width: calc(100% - 45px);

      &:hover {
        background: #e5e5e5;
      }

      > div {
        float: left;
        height: 64px;
      }

      .score {
        background: #ddd;
        border-bottom: 2px solid #ccc;
        @include border-radius(2px);
        cursor: pointer;
        color: #555;
        font-weight: 600;
        font-size: 12px;
        padding: 5px;
        margin: 10px 30px 10px 0;
        text-align: center;
        width: 20px;

        i {
          font-size: 20px;
          display: block;
          height: 20px;
        }
      }

      .voted {
        color: $blue !important;
      }

      h1 {
        line-height: 100%;
        margin: 3px 0;

        a {
          color: #555;
          font-size: 14px;
          font-weight: 500;
        }
      }

      span {
        color: #999;
        font-size: 12px;
        margin: 0 5px 0 0;
      }

      .sepline {
        color: #bbb;
        padding: 0 5px;
      }

      .creator {
        color: #999;
        font-size: 14px;
        line-height: 64px;

        &:hover {
          color: #666;
        }
      }
    }

    .open-list-question {
      background: #e5e5e5;
      border-left-color: $blue;
    }

    .no-questions {
      color: #999;
      font-size: 16px;
      padding: 20px 0;
      text-align: center;
      width: 100%;

    }

    ul.pagination {
      background: transparent;
      bottom: 0;
      list-style-type: none;
      padding: 40px 0;
      position: absolute;
      margin: 0;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;
        font-weight: 600;
        margin: 0 10px;

        a {
          background: #fff;
          @include border-radius(100px);
          color: #999;
          display: inline-block;
          padding: 5px 10px;

          &:hover {
            background: #f7f7f7;
            color: #444;
          }

          &:focus {
            outline: none;
          }

          i {
            font-size: 10px;
          }
        }
      }

      li:not(.disabled) a {
        @include box-shadow(0, 0, 6px, rgba(0, 0, 0, 0.1));
      }

      .active a {
        background: #222 !important;
        color: #eee !important;
      }

      .disabled a {
        background: #eee !important;
        color: #ccc !important;
      }
    }
  }
}
