.sidebar {
  background: transparent;
  color: #666;
  height: 100vh;
  float: left;
  position: fixed;
  width: 200px;

  .sidebar-header {
    background: #222;
    border-left: 2px solid transparent;
    color: #666;
    cursor: pointer;
    font-size: 13px;
    padding: 13px 20px 13px 18px;

    &:hover {
      background: #2C2C2C;
      color: #999;
    }

    i {
      font-size: 10px;
      margin-top: 3px;
    }
  }

  .header-active {
    background: #444;
    color: #eee;
    font-weight: 600;

    &:hover {
      background: #444;
      color: #eee;
    }
  }

  // .header-active {
  //   background: transparent;
  //   border-bottom-color: transparent;
  // }

  .checkbox-list {
    background: #333;
    font-size: 13px;
    height: calc(100% - 150px);
    overflow-y: scroll;
    padding: 10px 20px;

    .checkbox {
      display: block;
    }

    b {
      font-weight: 600;
      float: right;
    }
  }
}

.fixed {
  position: fixed !important;
  top: 0 !important;
}
