.sidebar {
  color: #999;
  height: 100vh;
  float: left;
  padding-top: 10px;
  top: 64px;
  width: 200px;

  .sidebar-header {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    width: 100%;

    &:hover {
      color: #555;
    }
  }

  .checkbox-list {
    padding: 10px 20px;

    .checkbox {
      display: block;
    }
  }
}
