.sidebar {
  background: #ddd;
  color: #999;
  height: 100vh;
  float: left;
  padding-top: 10px;
  top: 64px;
  width: 200px;

  .sidebar-header {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;

    &:hover {
      color: #555;
    }
  }

  .checkbox-list {
    padding: 10px 20px;

    .checkbox {
      display: block;
    }
  }

  .sidebar-footer {
    border-top: 1px solid #ccc;
    font-size: 12px;
    margin: 10px 20px 0 20px;
    padding: 10px 0 0 0;

    a {

      &:hover {
        color: #666;
      }
    }
  }
}

.fixed {
  position: fixed !important;
  top: 0 !important;
}
