.markdown {

  h1 {
    color: #444;
    font-size: 22px;
    font-weight: 600;
  }

  h2 {
    color: #555;
    font-size: 20px;
    font-weight: 500;
  }

  h3 {
    color: #777;
    font-size: 18px;
    font-weight: 500;
  }

  h4, h5, h6 {
    color: #999;
    font-size: 16px;
    font-weight: 500;
  }

  blockquote {
    border-left: 3px solid #ddd;
    color: #333;
    padding-left: 20px;
  }

  pre > code {
    background: #eee;
    border-left: 2px solid $green;
    color: #333;
    display: block;
    font-family: Monaco, monospace;
    padding: 10px;
  }

  p > code {
    background: #eee;
    color: #333;
    display: inline-block;
    font-family: Monaco, monospace;
    padding: 5px;
  }

  b,
  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  a {
    color: $blue;

    &:hover {
      color: darken($blue, 10%);
    }
  }

  hr {
    border-style: solid;
    color: #ddd;
  }
}
