body,
input,
textarea {
  font: 14px Avenir;
}

button,
select {
  font: 14px Avenir !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  a:focus,
  a:visited,
  a:hover {
    color: inherit
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

b {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}
