button.btn {
  background: palette(Blue, $shade: 500);
  font-weight: 600;

  &:hover {
    background: palette(Blue, $shade: 600);
  }

  &:focus {
    background: palette(Blue, $shade: 700);
  }
}

button[disabled=disabled].btn {
  @include opacity(0.5);
}
