[type=checkbox] {
    display: none;
}

[type=checkbox] + label {
  cursor: pointer;
  display: block;
  padding: 5px 0;

  &:hover {
    color: #999;
  }
}

[type=checkbox] + label:before {
    content: "";
    font-family: 'Icons';
    float: left;
    font-size: 12px;
    margin: 2px 22px 0 0;
}

[type=checkbox]:checked + label:before {
    content: "\e033";
    font-family: 'Icons';
    margin-right: 10px;
}

[type=checkbox]:checked + label {
    color: #666;
}
