[type=checkbox] {
  display: none;
}

[type=checkbox] + label {
  cursor: pointer;
  display: block;
}

[type=checkbox] + label:before {
  content: "";
  font-family: 'Icons';
  float: left;
  font-size: 12px;
  margin-right: 22px;
}

[type=checkbox]:checked + label:before {
  content: "\e033";
  font-family: 'Icons';
  margin-right: 10px;
}


.sidebar {

  [type=checkbox] + label:before {
    margin-top: 2px;
  }

  [type=checkbox] + label {
    padding: 6px 0;

    &:hover {
      color: #999;
    }
  }

  [type=checkbox]:checked + label {
      color: #999;

      &:hover {
        color: #ccc;
      }
  }
}

.list-bar {

  [type=checkbox] + label {

    &:hover {
      color: #333;
    }
  }

  [type=checkbox]:checked + label {
    color: palette(Blue, $shade: 500);

    &:hover {
      color: palette(Blue, $shade: 700);
    }
  }
}
