<form ng-init="findOne()" class="pure-form pure-form-stacked" ng-submit="update()">
    <fieldset>
        <legend>Add a question</legend>

        <label for="title">Title</label>
        <input type="text" ng-model="question.title" id="title" placeholder="Title" required="">

        <label for="content">Content</label>
        <textarea ng-model="question.content" id="content" placeholder="Content"></textarea>

        <label for="tags">Tags</label>
        <input type="text" ng-model="question.tags" id="tags" placeholder="Tags" required="">

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
