<div ng-include src="'partials/header.html'"></div>
<div class="question-section">
  <div ng-include src="'partials/sidebar.html'"></div>
  <div class="question-list" ng-init="find()">
    <div class="list-bar">
      <select ng-model="selectedOrder"
              ng-options="order.option for order in orders"
              ng-change="updateOrder()"></select>
      <select ng-show="selectedOrder.option == 'Popular'"
              ng-model="selectedTimeframe"
              ng-options="timeframe.option for timeframe in timeframes"></select>
      <select class="pull-right"
              ng-model="selectedSearchParam"
              ng-options="searchParam.option for searchParam in searchParams"></select>
      <input class="search pull-right"
             ng-model="search[selectedSearchParam.attr]"
             type="text"
             placeholder="Search"/>
    </div>
    <div class="question"
         ng-repeat="question in filteredQuestions =
                  (questions |
                  orderBy:selectedOrder.attr:true |
                  filter:isWithinTimeframe |
                  filter:search |
                  filter:filterByConcepts |
                  filter:filterByCompanies)"
         ng-class="{'open-list-question': question._id == openedQuestion && questionOpen}"
         ng-click="toggleOpenQuestion(question)">
        <div>
          <!-- <div ng-init="voted=false"
               class="score"
               ng-class="voted ? 'voted' : ''"
               ng-click="upvote(question)">
            <i class="fa fa-caret-up"></i>
            {{question.score}}
          </div> -->
        </div>
        <div>
          <h1><a>{{question.title}}</a></h1>
          <span>
            <span ng-repeat="company in question.companies">{{company}}</span>
            <span class="sepline">-</span>
            <span ng-repeat="concept in question.concepts">{{concept}}</span>
          </span>
        </div>
        <div class="pull-right">
            <a class="creator" ng-href="/users/{{question.creator._id}}">{{question.creator.username}}</a>
        </div>
    </div>

    <!-- Show if no questions appear -->
    <div class="no-questions" ng-show="filteredQuestions.length == 0">
      No questions
    </div>
  </div>
</div>

<!-- Current question -->
<div ng-include src="'partials/questions/view.html'"></div>
<div ng-include src="'partials/footer.html'"></div>
