<div class="open-question" ng-init="findOne(questionUrl)" ng-show="questionOpen" ng-controller="AnswersCtrl">
    <div class="question-header">
      <div class="question-info">
        <span>{{question.created | date:'medium'}}</span>
        <span><a ng-href="/users/{{question.creator.username}}">{{question.creator.username}}</a></span>
        <span>
          <span ng-repeat="company in question.companies">{{company}}</span>
        </span>
        <span>
          <span ng-repeat="concept in question.concepts">{{concept}}</span>
        </span>
        <span>{{question.level}}</span>
        <i class="fa fa-times" ng-click="toggleOpenQuestion(question)"></i>
        <a ng-show="currentUser._id == question.creator._id" href="/questions/edit/?{{question._id}}">edit</a>
      </div>
      <h2>
        {{question.title}}
      </h2>
    </div>

    <div class="markdown" btf-markdown="question.content"></div>
    <div ng-show="question.hint!='' && !showHint" class="show-hint" ng-click="toggleHint()"><i class="fa fa-eye fa-right"></i>Show hint</div>
    <div ng-show="showHint" class="markdown hint" btf-markdown="question.hint">
    </div>
    <div ng-show="showHint" class="show-hint" ng-click="toggleHint()"><i class="fa fa-eye-slash fa-right"></i>Hide hint</div>

    <div class="answer">
      <form class="pure-form pure-form-stacked" ng-submit="answer()" ng-show="currentUser">
        <label for="answer">
          Answer
          <a class="pull-right" href="">Markdown guide</a>
          <span class="pull-right"><i class="fa fa-check fa-right"></i>Markdown supported</span>
        </label>
        <textarea ng-model="content" id="answer"></textarea>
        <button type="submit" class="pure-button pure-button-primary">Answer</button>
      </form>
      <div ng-hide="currentUser"><a href="/login">Login</a> or <a href="/signup">sign up</a> to answer</div>
    </div>

    <div class="show-answers" ng-click="toggleAnswers()" ng-show="!showAnswers">
      Show answers
      <i class="fa fa-caret-down fa-left"></i>
    </div>

    <div class="answers" ng-show="showAnswers">
      <div ng-repeat="answer in answers">
        <div class="answer-info">
          <span class="upvote">
            <i class="fa fa-caret-up fa-right"></i>
            0
          </span>
          <span>{{answer.created | date:'medium'}}</span>
          <span><a ng-href="/users/{{answer.creator.username}}">{{answer.creator.username}}</a></span>
          <a ng-show="currentUser._id == answer.creator._id && !editedAnswers[answer._id]" ng-click="toggleEditAnswer(answer)">edit</a>
          <a ng-hide="currentUser._id == answer.creator._id && !editedAnswers[answer._id]" ng-click="toggleEditAnswer(answer)">cancel</a>
        </div>

        <div ng-hide="editedAnswers[answer._id]" class="markdown" btf-markdown="answer.content"></div>
        <form class="pure-form pure-form-stacked" ng-show="editedAnswers[answer._id]" ng-submit="updateAnswer()">
            <textarea ng-model="answer.content" value="answer.content"></textarea>
            <button type="submit" class="pure-button pure-button-primary">Save</button>
        </form>
      </div>
    </div>

    <div class="hide-answers" ng-click="toggleAnswers()" ng-show="showAnswers">
      Hide answers
      <i class="fa fa-caret-up fa-left"></i>
    </div>
</div>
