.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.fa-right {
  margin-right: 10px;
}

.fa-left {
  margin-left: 10px;
}

.margin-left {
  margin-left: 20px;
}

.margin-right {
  margin-right: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.oi-l {
  margin-right: 10px;
}

.oi-r {
  margin-left: 10px;
}
