<div class="sidebar" ng-init="initConcepts()">
  <div class="sidebar-header">
    Filter by concepts
  </div>
  <div class="checkbox-list">
    <div class="checkbox">
      <input type="checkbox"
             ng-model="conceptsAll"
             ng-change="selectAllConcepts()"
             id="concept_All"/>
      <label for="concept_All">
        Toggle all
      </label>
    </div>
    <div class="checkbox" ng-repeat="(concept,enabled) in conceptsList">
      <input type="checkbox"
             ng-model="conceptsList[concept]"
             id="concept_{{concept}}"/>
      <label for="concept_{{concept}}">
        <span>{{concept}}</span>
        <b>{{countQuestions(concept)}}</b>
      </label>
    </div>
  </div>
  <!-- <div class="sidebar-header">
    Companies
    <i class="oi pull-right" data-glyph="caret-bottom"></i></div>
  <div class="checkbox-list">
    <div class="checkbox">
      <input type="checkbox"
             ng-model="companiesAll"
             ng-change="selectAllCompanies()"
             id="companies_All"/>
      <label for="companies_All">
        Toggle all
      </label>
    </div>
    <div class="checkbox" ng-repeat="(company,enabled) in companiesList">
      <input type="checkbox"
             ng-model="companiesList[company]"
             id="company_{{company}}"/>
      <label for="company_{{company}}">
        {{company}}
      </label>
    </div>
  </div> -->
</div>
