<div class="footer">
  <form class="pure-form email" action="//herokuapp.us3.list-manage.com/subscribe/post?u=726e5cd28db95d598e993c4fe&amp;id=e38c256fdd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="email">Send me a weekly selection of questions</label>
    <input type="text" placeholder="Email" type="email" value="" name="EMAIL" class="required" id="mce-EMAIL"/>
    <button type="submit" class="pure-button pure-button-primary" name="subscribe" id="mc-embedded-subscribe">Go</button>
  </form>
</div>
