<div ng-include src="'partials/header.html'"></div>

<div class="user-profile" ng-init="getUser()">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="user-header">
        <h1>{{user.username}}</h1>

        <div class="user-sections">
          <span class="current-section">Activity</span>
          <span>Settings</span>
        </div>
      </div>
    </div>

    <div class="pure-u-1-1">
      <div class="user-lists">
        <div class="user-questions" ng-init="getQuestions()">
          <div class="list-header">
            Questions
            <b>{{questions.length}}</b>
          </div>
          <div>
            <a ng-repeat="question in questions" ng-href="#/questions/?{{question._id}}">
              <div>{{question.title}}</div>
              <span>
                <!--<span ng-repeat="company in question.companies">{{company}}</span>
                <span class="sepline">-</span>-->
                <span ng-repeat="concept in question.concepts">{{concept}}</span>
              </span>
            </a>
          </div>
        </div>

        <div class="user-answers" ng-init="getAnswers()">
          <div class="list-header">
            Answers
            <b>{{answers.length}}</b>
          </div>
          <div>
            <a ng-repeat="answer in answers track by $id(answer._id + answer.questionid)" ng-href="#/questions/?{{answer.questionid}}">
              <div ng-init="findOne(answer.questionid)">
                {{answerQuestion[answer.questionid].title}}
              </div>
              <span>{{answer.content}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
